In [16]:
path_input = '/home/hanna/lagrings/ERA5_monthly/'
import numpy as np
import glob
import xarray as xr
import os

files1 = glob.glob(os.path.join(path_input, '2012_02*.nc'))
files = glob.glob(os.path.join(path_input, '2012_07*.nc'))
data = xr.open_mfdataset(files1+files, compat='no_conflicts', join='outer')
ds = data.groupby('time.season').mean('time')

/home/hanna/anaconda3/envs/final/lib/python3.7/site-packages/ipykernel_launcher.py:9: FutureWarning: In xarray version 0.15 the default behaviour of `open_mfdataset`
will change. To retain the existing behavior, pass
combine='nested'. To use future default behavior, pass
combine='by_coords'. See
http://xarray.pydata.org/en/stable/combining.html#combining-multi

  if __name__ == '__main__':
/home/hanna/anaconda3/envs/final/lib/python3.7/site-packages/xarray/backends/api.py:941: FutureWarning: The datasets supplied have global dimension coordinates. You may want
to use the new `combine_by_coords` function (or the
`combine='by_coords'` option to `open_mfdataset`) to order the datasets
before concatenation. Alternatively, to continue concatenating based
on the order the datasets are supplied in future, please use the new
`combine_nested` function (or the `combine='nested'` option to
open_mfdataset).The datasets supplied require both concatenation and merging. From
xarray version 0.15 this will operation will require either using the
new `combine_nested` function (or the `combine='nested'` option to
open_mfdataset), with a nested list structure such that you can combine
along the dimensions None. Alternatively if your datasets have global
dimension coordinates then you can use the new `combine_by_coords`
function.
  from_openmfds=True,

In [19]:
for i, season in enumerate(('DJF', 'JJA')): # 'MAM', , 'SON'
    print(ds.sel(season = season))

<xarray.Dataset>
Dimensions:        (latitude: 81, longitude: 161)
Coordinates:
    step           timedelta64[ns] 00:00:00
    isobaricInhPa  int64 1000
    surface        int64 0
    number         int64 0
  * longitude      (longitude) float64 -15.0 -14.75 -14.5 ... 24.5 24.75 25.0
  * latitude       (latitude) float64 30.0 30.25 30.5 30.75 ... 49.5 49.75 50.0
    season         <U3 'DJF'
Data variables:
    tcc            (latitude, longitude) float64 dask.array<chunksize=(81, 161), meta=np.ndarray>
    nr_nans        (latitude, longitude) float64 dask.array<chunksize=(81, 161), meta=np.ndarray>
    q              (latitude, longitude) float32 dask.array<chunksize=(81, 161), meta=np.ndarray>
    r              (latitude, longitude) float32 dask.array<chunksize=(81, 161), meta=np.ndarray>
    sp             (latitude, longitude) float32 dask.array<chunksize=(81, 161), meta=np.ndarray>
    t2m            (latitude, longitude) float32 dask.array<chunksize=(81, 161), meta=np.ndarray>
<xarray.Dataset>
Dimensions:        (latitude: 81, longitude: 161)
Coordinates:
    step           timedelta64[ns] 00:00:00
    isobaricInhPa  int64 1000
    surface        int64 0
    number         int64 0
  * longitude      (longitude) float64 -15.0 -14.75 -14.5 ... 24.5 24.75 25.0
  * latitude       (latitude) float64 30.0 30.25 30.5 30.75 ... 49.5 49.75 50.0
    season         <U3 'JJA'
Data variables:
    tcc            (latitude, longitude) float64 dask.array<chunksize=(81, 161), meta=np.ndarray>
    nr_nans        (latitude, longitude) float64 dask.array<chunksize=(81, 161), meta=np.ndarray>
    q              (latitude, longitude) float32 dask.array<chunksize=(81, 161), meta=np.ndarray>
    r              (latitude, longitude) float32 dask.array<chunksize=(81, 161), meta=np.ndarray>
    sp             (latitude, longitude) float32 dask.array<chunksize=(81, 161), meta=np.ndarray>
    t2m            (latitude, longitude) float32 dask.array<chunksize=(81, 161), meta=np.ndarray>